<h1>id: <%= @toppage.id %> のメッセージ詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @toppage.id %></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td><%= @toppage.title %></td>
  </tr>
  <tr>
    <th>メッセージ</th>
    <td><%= @toppage.content %></td>
  </tr>
</table>

<%= link_to 'このメッセージを編集する', edit_message_path(@toppage), class: 'btn btn-light' %>
<%= link_to 'このメッセージを削除する', @toppage, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
